
<%= render "layouts/header1" %>
<%= render "layouts/sidebarTy" %>



<h1>Thank You for your Order</h1>
<br>

<h2>Your sausages will should arrive within 5 business days from date of order. 
Please come back to Carmelo's Sausage Store!!!</h2>

<!-- <%= link_to "Continue Shopping", store_path %>
<%= link_to "Exit Sausage Store", say_good_bye_path %> -->
<%= render "layouts/footer" %>
