<p id="notice"><%= notice %></p>
<%= render "layouts/headerAdmin" %>

<br>
<br>
<h1>Current Sausage Inventory</h1>

<%= render "layouts/sidebarSausageInv" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>In Stock Qty</th>
      <th>Fresh</th>
      <th>Calories</th>
      <th>Price</th>
      <th>Functions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sausages.each do |sausage| %>
      <tr>
        <td><%= sausage.name %></td>
        <td><%= sausage.description %></td>
        <td><%= sausage.qty %></td>
        <td><%= sausage.yesno %></td>
        <td><%= sausage.calories %></td>
        <td><%= sausage.price %></td>
        <td><%= link_to 'Show', sausage %></td>
        <td><%= link_to 'Edit', edit_sausage_path(sausage) %></td>
        <td><%= link_to 'Destroy', sausage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "layouts/footer" %>
