<p id="notice"><%= notice %></p>
<%= render "layouts/headerAdmin" %>
<h1>Show User</h1>
<%= render "layouts/sidebarUsersMenu" %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<br>
<br>



<!-- <%= render 'form' %> -->

<%= render "layouts/footer" %>




<!-- <%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
